<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header class="navbar">
  <a href="/">← Back</a>
  <h2>Admin panel</h2>
</header>

<main class="admin-page">
  <div class="admin-header">
    <h2 class="admin-title">
      <ion-icon name="people-outline"></ion-icon>
      Users
    </h2>
  </div>

  <div id="usersContainer" class="users-grid"></div>
</main>

<script src="/js/admin.js"></script>
</body>
</html>
