<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css">


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="navbar">
        <div class="nav-left">
            <a href="/about">About</a>
            <a href="/contact" class="active">Contact</a>
       </div>

        <div class="logo">
           Inspire Me | Creativity & locations
        </div>

        <div class="nav-right">
             <a href="/" class="nav-icon" title="Home">
                <ion-icon name="home-outline"></ion-icon>
            </a>
        <!-- LOGIN ICON -->
            <a href="/auth" id="loginBtn" class="nav-icon" title="Login">
                <i class="ph ph-fingerprint"></i>
            </a>

        <!-- PERSON ICON -->
            <button id="userBtn" class="nav-icon user-icon" title="Profile" style="display:none;">
               <ion-icon name="person-outline"></ion-icon>
            </button>
 
        <!-- direct message -->
            <a href="/messages" class="nav-icon" title="Messages">
               <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
        </div>
    </header>

     <!-- Main -->
    <main class="contact-page">
        <div class="contact-card">
            <h2 class="contact-title">Share your thoughts</h2>

            <form class="contact-form needs-validation" novalidate>
            <div class="field">
                <label>First name</label>
                <input type="text" id="fname" required>
            </div>

            <div class="field">
                <label>Last name</label>
                <input type="text" id="lname" required>
            </div>

            <div class="field">
                <label>Email</label>
                <input type="email" id="email" required>
            </div>

            <div class="field">
                <label>Message</label>
                <textarea id="message" rows="4" required></textarea>
            </div>

            <div class="contact-actions">
                <button type="submit" class="btn-primary">Send</button>
                <button type="reset" class="btn-secondary">Reset</button>
            </div>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p class="footer-title">Inspire Me ✧ Creativity & Locations</p>

            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/creativity">Creativity</a>
                <a href="/locations">Locations</a>
            </div>

            <p class="footer-credit">Assignment 1 — Week 1</p>
        </div>
    </footer>
    
    <script>(() => {'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>
</body>
</html>

