<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>InspireMe</title>
     <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!--header-->
    <header class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
        <div class="logo">
            Inspire Me | Creativity & Locations
        </div>
        
        <div class="nav-right">
            <div class="menu-dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/views/creativity.html">Creativity</a>
                    <a href="/">Locations</a>
                    <a href="#">Likes</a>
                    <a href="#">Saved</a>
                    <a href="#">Comments</a>
                </div>
            </div>
        </div>
    </header>
    <!--main-->
    <main>
        <section class="banner">
            <img src="/images/banner.jpg.jpg" alt="banner">

            <div class="banner-content">

                <div class="project-info">
                    <h2>InspireMe</h2>

                    <p class="project-description">
                        InspireMe is a creative web platform where users can explore inspiring ideas,
                        creative projects, and beautiful locations.
                    </p>

                    <h3>Team Members</h3>
                    <p>Aiymzhan Abilgazy and Marzhan Tulebayeva</p>

                    <h3>Planned Features</h3>
                    <ul>
                        <li>Creative projects & academic inspiration</li>
                        <li>Cafes, nature spots & places to relax</li>
                        <li>Like, save and comment on posts</li>
                        <li>Category-based browsing (future)</li>
                    </ul>
                </div>

                <div class="banner-sections">
                    <a href="/creativity" class="banner-card">
                        <h3>Creativity</h3>
                        <span>Projects • Ideas • Study</span>
                    </a>

                    <a href="/locations" class="banner-card">
                        <h3>Locations</h3>
                        <span>Cafes • Nature • Relax</span>
                    </a>
                </div>

            </div>
        </section>



        <!--pics-->
        <section class="pins">
            <div class="pin">
                <img src="/images/pin1.jpg">
                <div class="pin-info">
                    <p class="author">Erkezhan B.</p>
                    <p class="story">
                        I attended a canvas painting workshop. 
                        It was very interesting and a great time chatting with the girls &#127912;&#128147;
                    </p>
                    <p class="location">&#128205;Location: Bella cafe</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>
            
            <div class="pin">
                <img src="/images/pin2.jpg">
                <div class="pin-info">
                    <p class="author">Selena G.</p>
                    <p class="story">Intensive preparation for IELTS &#128218;&#128187;</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="pin">
                <img src="/images/pin3.jpg">
                <div class="pin-info">
                    <p class="author">Aruzhan K.</p>
                    <p class="story">Creative chaos &#128540;</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="pin">
                <img src="/images/pin4.jpg">
                <div class="pin-info">
                    <p class="author">Aiymzhan A.</p>
                    <p class="story">An unforgettable evening with &#129653;</p>
                    <p class="location"> &#128205;Location:Egypt,Marriott Mena House</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="pin">
                <img src="/images/pin5.jpg">
                <div class="pin-info">
                    <p class="author">Marzhan T.</p>
                    <p class="story">Editing is my soul therapy &#128151;</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="pin">
                <img src="/images/pin6.jpg">
                <div class="pin-info">
                    <p class="author">Ariana G.</p>
                    <p class="story"> From Neilya's Birthday Party</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="pin">
                <img src="/images/pin7.jpg">
                <div class="pin-info">
                    <p class="author">Alina H.</p>
                    <p class="story">My husband takes wonderful pictures of nature.</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="pin">
                <img src="/images/pin8.jpg">
                <div class="pin-info">
                    <p class="author">Saniya Y.</p>
                    <p class="story">Just aesthetic &#127800;</p>
                    <div class="pin-actions">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </section>
        <!--show more button-->
        <div class="show-more-container">
            <button class="show-more">SHOW MORE</button>
        </div>
    </main>

    <!--footer-->
     <footer class="footer">
        <div class="footer-content">
            <p class="footer-title">Inspire Me ✧ Creativity & Locations</p>
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/creativity">Creativity</a>
                <a href="/locations">Locations</a>
            </div>
            <p class="footer-credit">&copy;2025 InspireMe. Designed with ♡</p>
        </div>
    </footer>
</body>
</html>