<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>About InspireMe</title>
     <link rel="stylesheet" href="/style.css">
     <link rel="stylesheet" href="/about.css">
</head>
<body>
    <!--header-->
    <header class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>

        <div class="logo">Inspire Me | Creativity & Locations</div>

        <div class="nav-right">
            <div class="menu-dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/likes">Likes</a>
                    <a href="#">Saved</a>
                </div>
            </div>
        </div>
    </header>
    
    <h1>❤️ Liked Pins</h1>
    <section class="pins" id="pinsContainer"></section>

   
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p class="footer-title">Inspire Me ✧ Creativity & Locations</p>

            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/creativity">Creativity</a>
                <a href="/locations">Locations</a>
            </div>

            <p class="footer-credit">© 2025 InspireMe. Designed with ♡</p>
        </div>
    </footer>
    
    <script src="/js/renderPin.js"></script>
    <script src="/js/likes.js"></script>


</body>
</html>
